# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
project/node_modules
project/.pnp
project/.pnp.js

# testing
project/coverage

# production
project/build

# misc
project/Thumbs.db
project/.DS_Store
project/.env
project/*.log*

project/npm-debug.log*
project/yarn-debug.log*
project/yarn-error.log*

# editors
.idea
*.sublime*
.vscode
